Esse notebook faz a junção de cada dataset de município com a coluna do `ideb` do dataset do ideb. O objetivo dessa junção é analisar como as variáveis de municípios impactam no ideb, que é a nossa variável resposta.

# Bibliotecas

In [1]:
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import numpy as np
from scipy import stats

In [2]:
pd.set_option('display.max_rows', 500)
pd.set_option('display.max_columns', 500)

# Carrega Datasets

In [3]:
df_municipios_2015 = pd.read_csv('../../data/bcggammachallenge/municipios/municipios20150101.csv')
df_municipios_2016 = pd.read_csv('../../data/bcggammachallenge/municipios/municipios20160101.csv')
df_municipios_2017 = pd.read_csv('../../data/bcggammachallenge/municipios/municipios20170101.csv')

In [4]:
df = pd.concat([df_municipios_2015, df_municipios_2016, df_municipios_2017])

In [5]:
df_municipios_2017.shape

(5570, 51)

In [6]:
df.head()

,ano_censo,regiao,unidade_federativa,mesoregiao,microregiao,municipio,cod_municipio,num_escolas,num_escolas_em_atividade,num_estudantes_ensino_infantil,num_estudantes_ensino_fund_anos_iniciais,num_estudantes_ensino_fund_anos_finais,num_estudantes_ensino_medio_propedeutico,num_estudantes_fund_1_ano,num_estudantes_fund_2_ano,num_estudantes_fund_3_ano,num_estudantes_fund_4_ano,num_estudantes_fund_5_ano,num_estudantes_fund_6_ano,num_estudantes_fund_7_ano,num_estudantes_fund_8_ano,num_estudantes_fund_9_ano,num_estudantes_medio_1_serie,num_estudantes_medio_2_serie,num_estudantes_medio_3_serie,num_estudantes_medio_4_serie,num_estudantes_medio_nao_seriada,num_salas_existentes,num_salas_utilizadas,num_equip_tv,num_equip_videocassete,num_equip_dvd,num_equip_parabolica,num_equip_copiadora,num_equip_retroprojetor,num_equip_impressora,num_equip_impressora_mult,num_equip_som,num_equip_multimidia,num_equip_fax,num_equip_foto,num_computador,num_comp_administrativo,num_comp_aluno,num_funcionarios,num_escolas_rurais,num_escolas_urbanas,num_professores,num_matriculas,num_estudantes,num_turmas
0,2015,Sudeste,São Paulo,Assis,Assis,Nantes,3532157,3,3,167,168,170,141,37,32,34,19,46,31,45,58,36,43,53,45,0,0,19,19,3,1,2,1,2,1,3,2,2,1,0,2,3,3,1,89,0,0,44,782,676,45
1,2015,Sudeste,São Paulo,Assis,Assis,Tarumã,3553955,10,10,971,1053,852,483,210,209,218,225,191,211,216,208,217,187,171,125,0,0,117,117,9,0,9,3,6,2,9,8,9,8,2,8,10,10,8,458,0,0,257,3880,3473,181
2,2015,Sudeste,São Paulo,Assis,Assis,Cruzália,3513306,5,3,103,105,93,84,33,18,23,21,10,21,17,26,29,29,30,25,0,0,18,18,3,1,3,1,2,1,2,1,3,2,1,2,3,3,1,54,0,0,44,590,405,37
3,2015,Sudeste,São Paulo,Assis,Assis,Campos Novos Paulista,3509809,3,3,202,334,312,167,62,59,90,63,60,96,64,78,74,69,55,43,0,0,26,26,3,0,3,0,3,2,3,2,2,2,2,2,3,3,3,133,0,0,77,1131,1015,61
4,2015,Sudeste,São Paulo,Assis,Assis,Assis,3504008,75,70,5052,6126,5002,3323,1256,1306,1237,1194,1133,1430,1053,1198,1321,1216,1087,1020,0,0,842,897,67,28,59,14,22,42,67,49,67,56,29,62,68,66,53,3288,0,0,1417,25237,22096,1134

In [7]:
df_ideb_ini = pd.read_csv('../../data/bcggammachallenge/ideb/ideb_municipios_anosiniciais2005_2017.csv',sep = ',',encoding='latin-1')
df_ideb_fin = pd.read_csv('../../data/bcggammachallenge/ideb/ideb_municipios_anosfinais2005_2017.csv',sep = ',',encoding='latin-1')

In [8]:
df_ideb_ini.shape

(14436, 89)

In [9]:
df_ideb_ini.columns

Index(['Co_UF', 'Cod_Municipio_Completo', 'Nome_Municipio', 'Rede',
       'TaxaAprovacao2005_1ao5ano', 'TaxaAprovacao2005_1ano',
       'TaxaAprovacao2005_2ano', 'TaxaAprovacao2005_3ano',
       'TaxaAprovacao2005_4ano', 'TaxaAprovacao2005_5ano',
       'IndicadorRendimento_2005', 'TaxaAprovacao2007_1ao5ano',
       'TaxaAprovacao2007_1ano', 'TaxaAprovacao2007_2ano',
       'TaxaAprovacao2007_3ano', 'TaxaAprovacao2007_4ano',
       'TaxaAprovacao2007_5ano', 'IndicadorRendimento_2007',
       'TaxaAprovacao2009_1ao5ano', 'TaxaAprovacao2009_1ano',
       'TaxaAprovacao2009_2ano', 'TaxaAprovacao2009_3ano',
       'TaxaAprovacao2009_4ano', 'TaxaAprovacao2009_5ano',
       'IndicadorRendimento_2009', 'TaxaAprovacao2011_1ao5ano',
       'TaxaAprovacao2011_1ano', 'TaxaAprovacao2011_2ano',
       'TaxaAprovacao2011_3ano', 'TaxaAprovacao2011_4ano',
       'TaxaAprovacao2011_5ano', 'IndicadorRendimento_2011',
       'TaxaAprovacao2013_1ao5ano', 'TaxaAprovacao2013_1ano',
       'TaxaAprovacao2013_2ano', 'TaxaAprovacao2013_3ano',
       'TaxaAprovacao2013_4ano', 'TaxaAprovacao2013_5ano',
       'IndicadorRendimento_2013', 'TaxaAprovacao2015_1ao5ano',
       'TaxaAprovacao2015_1ano', 'TaxaAprovacao2015_2ano',
       'TaxaAprovacao2015_3ano', 'TaxaAprovacao2015_4ano',
       'TaxaAprovacao2015_5ano', 'IndicadorRendimento_2015',
       'TaxaAprovacao2017_1ao5ano', 'TaxaAprovacao2017_1ano',
       'TaxaAprovacao2017_2ano', 'TaxaAprovacao2017_3ano',
       'TaxaAprovacao2017_4ano', 'TaxaAprovacao2017_5ano',
       'IndicadorRendimento_2017', 'NotaProvaBrasil_MT_2005',
       'NotaProvaBrasil_LP_2005', 'NotaProvaBrasil_NotaMedia_2005',
       'NotaProvaBrasil_MT_2007', 'NotaProvaBrasil_LP_2007',
       'NotaProvaBrasil_NotaMedia_2007', 'NotaProvaBrasil_MT_2009',
       'NotaProvaBrasil_LP_2009', 'NotaProvaBrasil_NotaMedia_2009',
       'NotaProvaBrasil_MT_2011', 'NotaProvaBrasil_LP_2011',
       'NotaProvaBrasil_NotaMedia_2011', 'NotaProvaBrasil_MT_2013',
       'NotaProvaBrasil_LP_2013', 'NotaProvaBrasil_NotaMedia_2013',
       'NotaProvaBrasil_MT_2015', 'NotaProvaBrasil_LP_2015',
       'NotaProvaBrasil_NotaMedia_2015', 'NotaProvaBrasil_MT_2017',
       'NotaProvaBrasil_LP_2017', 'NotaProvaBrasil_NotaMedia_2017', 'Ideb2005',
       'Ideb2007', 'Ideb2009', 'Ideb2011', 'Ideb2013', 'Ideb2015', 'Ideb2017',
       'ProjecaoIdeb2007', 'ProjecaoIdeb2009', 'ProjecaoIdeb2011',
       'ProjecaoIdeb2013', 'ProjecaoIdeb2015', 'ProjecaoIdeb2017',
       'ProjecaoIdeb2019', 'ProjecaoIdeb2021'],
      dtype='object')

In [10]:
df_ideb_fin.columns

Index(['Co_UF', 'Cod_Municipio_Completo', 'Nome_Municipio', 'Rede',
       'TaxaAprovacao2005_6ao9ano', 'TaxaAprovacao2005_6ano',
       'TaxaAprovacao2005_7ano', 'TaxaAprovacao2005_8ano',
       'TaxaAprovacao2005_9ano', 'IndicadorRendimento_2005',
       'TaxaAprovacao2007_6ao9ano', 'TaxaAprovacao2007_6ano',
       'TaxaAprovacao2007_7ano', 'TaxaAprovacao2007_8ano',
       'TaxaAprovacao2007_9ano', 'IndicadorRendimento_2007',
       'TaxaAprovacao2009_6ao9ano', 'TaxaAprovacao2009_6ano',
       'TaxaAprovacao2009_7ano', 'TaxaAprovacao2009_8ano',
       'TaxaAprovacao2009_9ano', 'IndicadorRendimento_2009',
       'TaxaAprovacao2011_6ao9ano', 'TaxaAprovacao2011_6ano',
       'TaxaAprovacao2011_7ano', 'TaxaAprovacao2011_8ano',
       'TaxaAprovacao2011_9ano', 'IndicadorRendimento_2011',
       'TaxaAprovacao2013_6ao9ano', 'TaxaAprovacao2013_6ano',
       'TaxaAprovacao2013_7ano', 'TaxaAprovacao2013_8ano',
       'TaxaAprovacao2013_9ano', 'IndicadorRendimento_2013',
       'TaxaAprovacao2015_6ao9ano', 'TaxaAprovacao2015_6ano',
       'TaxaAprovacao2015_7ano', 'TaxaAprovacao2015_8ano',
       'TaxaAprovacao2015_9ano', 'IndicadorRendimento_2015',
       'TaxaAprovacao2017_6ao9ano', 'TaxaAprovacao2017_6ano',
       'TaxaAprovacao2017_7ano', 'TaxaAprovacao2017_8ano',
       'TaxaAprovacao2017_9ano', 'IndicadorRendimento_2017',
       'NotaProvaBrasil_MT_2005', 'NotaProvaBrasil_LP_2005',
       'NotaProvaBrasil_NotaMedia_2005', 'NotaProvaBrasil_MT_2007',
       'NotaProvaBrasil_LP_2007', 'NotaProvaBrasil_NotaMedia_2007',
       'NotaProvaBrasil_MT_2009', 'NotaProvaBrasil_LP_2009',
       'NotaProvaBrasil_NotaMedia_2009', 'NotaProvaBrasil_MT_2011',
       'NotaProvaBrasil_LP_2011', 'NotaProvaBrasil_NotaMedia_2011',
       'NotaProvaBrasil_MT_2013', 'NotaProvaBrasil_LP_2013',
       'NotaProvaBrasil_NotaMedia_2013', 'NotaProvaBrasil_MT_2015',
       'NotaProvaBrasil_LP_2015', 'NotaProvaBrasil_NotaMedia_2015',
       'NotaProvaBrasil_MT_2017', 'NotaProvaBrasil_LP_2017',
       'NotaProvaBrasil_NotaMedia_2017', 'Ideb2005', 'Ideb2007', 'Ideb2009',
       'Ideb2011', 'Ideb2013', 'Ideb2015', 'Ideb2017', 'ProjecaoIdeb2007',
       'ProjecaoIdeb2009', 'ProjecaoIdeb2011', 'ProjecaoIdeb2013',
       'ProjecaoIdeb2015', 'ProjecaoIdeb2017', 'ProjecaoIdeb2019',
       'ProjecaoIdeb2021'],
      dtype='object')

In [11]:
df_ideb_ini[['Cod_Municipio_Completo', 'Ideb2017']].head()

   Cod_Municipio_Completo Ideb2017
0               1100015.0      6.2
1               1100015.0      5.1
2               1100015.0      6.2
3               1100023.0        6
4               1100023.0      5.4

In [12]:
df_ideb_ini = df_ideb_ini.rename(columns={'Cod_Municipio_Completo': 'cod_municipio'})
df_ideb_fin = df_ideb_fin.rename(columns={'Cod_Municipio_Completo': 'cod_municipio'})

df_ideb_ini_2015 = df_ideb_ini.copy()
df_ideb_ini_2017 = df_ideb_ini.copy()

df_ideb_fin_2015 = df_ideb_fin.copy()
df_ideb_fin_2017 = df_ideb_fin.copy()

In [13]:
df_ideb_ini_2015 = df_ideb_ini_2015[['cod_municipio', 'Ideb2015']]
df_ideb_ini_2017 = df_ideb_ini_2017[['cod_municipio', 'Ideb2017']]

df_ideb_fin_2015 = df_ideb_fin_2015[['cod_municipio', 'Ideb2015']]
df_ideb_fin_2017 = df_ideb_fin_2017[['cod_municipio', 'Ideb2017']]

In [14]:
df_ideb_ini_2015.head()

   cod_municipio Ideb2015
0      1100015.0      5.8
1      1100015.0        5
2      1100015.0      5.8
3      1100023.0      5.6
4      1100023.0        5

In [15]:
df_ideb_ini_2017.head()

   cod_municipio Ideb2017
0      1100015.0      6.2
1      1100015.0      5.1
2      1100015.0      6.2
3      1100023.0        6
4      1100023.0      5.4

In [16]:
df_ideb_fin_2015.head()

   cod_municipio Ideb2015
0      1100015.0      4.2
1      1100015.0        -
2      1100015.0      4.3
3      1100023.0      4.3
4      1100023.0      4.6

In [17]:
df_ideb_fin_2017.head()

   cod_municipio Ideb2017
0      1100015.0      5.1
1      1100015.0      4.3
2      1100015.0      4.8
3      1100023.0        5
4      1100023.0      4.7

In [18]:
df_ideb_ini_2015['cod_municipio'] = df_ideb_ini_2015.cod_municipio.astype(float)
df_ideb_ini_2017['cod_municipio'] = df_ideb_ini_2017.cod_municipio.astype(float)

df_ideb_fin_2015['cod_municipio'] = df_ideb_fin_2015.cod_municipio.astype(float)
df_ideb_fin_2017['cod_municipio'] = df_ideb_fin_2017.cod_municipio.astype(float)

In [19]:
df_result_ini_2015 = pd.merge(df_municipios_2015, df_ideb_ini_2015, how='inner', on='cod_municipio')
df_result_ini_2017 = pd.merge(df_municipios_2017, df_ideb_ini_2017, how='inner', on='cod_municipio')

df_result_fin_2015 = pd.merge(df_municipios_2015, df_ideb_fin_2015, how='inner', on='cod_municipio')
df_result_fin_2017 = pd.merge(df_municipios_2017, df_ideb_fin_2017, how='inner', on='cod_municipio')

In [20]:
df_result_ini_2015 = df_result_ini_2015.rename(columns={'Ideb2015': 'ideb'})
df_result_ini_2017 = df_result_ini_2017.rename(columns={'Ideb2017': 'ideb'})

df_result_fin_2015 = df_result_fin_2015.rename(columns={'Ideb2015': 'ideb'})
df_result_fin_2017 = df_result_fin_2017.rename(columns={'Ideb2017': 'ideb'})

In [21]:
df_result_ini_2015.sort_values(by=['ideb'], ascending=False).head(8)

,ano_censo,regiao,unidade_federativa,mesoregiao,microregiao,municipio,cod_municipio,num_escolas,num_escolas_em_atividade,num_estudantes_ensino_infantil,num_estudantes_ensino_fund_anos_iniciais,num_estudantes_ensino_fund_anos_finais,num_estudantes_ensino_medio_propedeutico,num_estudantes_fund_1_ano,num_estudantes_fund_2_ano,num_estudantes_fund_3_ano,num_estudantes_fund_4_ano,num_estudantes_fund_5_ano,num_estudantes_fund_6_ano,num_estudantes_fund_7_ano,num_estudantes_fund_8_ano,num_estudantes_fund_9_ano,num_estudantes_medio_1_serie,num_estudantes_medio_2_serie,num_estudantes_medio_3_serie,num_estudantes_medio_4_serie,num_estudantes_medio_nao_seriada,num_salas_existentes,num_salas_utilizadas,num_equip_tv,num_equip_videocassete,num_equip_dvd,num_equip_parabolica,num_equip_copiadora,num_equip_retroprojetor,num_equip_impressora,num_equip_impressora_mult,num_equip_som,num_equip_multimidia,num_equip_fax,num_equip_foto,num_computador,num_comp_administrativo,num_comp_aluno,num_funcionarios,num_escolas_rurais,num_escolas_urbanas,num_professores,num_matriculas,num_estudantes,num_turmas,ideb
6948,2015,Nordeste,Ceará,Noroeste Cearense,Sobral,Sobral,2312908,264,107,10236,14984,13343,10807,2803,2786,3166,3354,2875,3333,3204,3533,3273,4066,3611,3130,0,0,1489,2516,99,16,82,39,81,39,94,27,95,91,34,77,106,101,88,6366,0,0,2456,64615,59982,2620,8.8
6947,2015,Nordeste,Ceará,Noroeste Cearense,Sobral,Sobral,2312908,264,107,10236,14984,13343,10807,2803,2786,3166,3354,2875,3333,3204,3533,3273,4066,3611,3130,0,0,1489,2516,99,16,82,39,81,39,94,27,95,91,34,77,106,101,88,6366,0,0,2456,64615,59982,2620,8.8
6935,2015,Nordeste,Ceará,Noroeste Cearense,Ipu,Pires Ferreira,2310951,32,19,354,774,753,393,155,145,183,185,106,173,197,189,194,157,118,118,0,0,81,78,16,4,12,4,12,2,7,3,9,6,0,4,9,7,6,383,0,0,173,3129,2592,172,8.7
6936,2015,Nordeste,Ceará,Noroeste Cearense,Ipu,Pires Ferreira,2310951,32,19,354,774,753,393,155,145,183,185,106,173,197,189,194,157,118,118,0,0,81,78,16,4,12,4,12,2,7,3,9,6,0,4,9,7,6,383,0,0,173,3129,2592,172,8.7
2280,2015,Sudeste,Minas Gerais,Jequitinhonha,Capelinha,Aricanduva,3104452,22,7,155,426,523,238,87,88,95,75,81,121,121,165,116,107,75,56,0,0,46,44,7,3,7,2,1,1,3,0,2,1,0,1,7,3,2,162,0,0,76,1425,1374,73,8.3
7995,2015,Nordeste,Ceará,Sertões Cearenses,Sertão de Senador Pompeu,Deputado Irapuan Pinheiro,2304269,20,10,327,611,622,391,132,112,116,130,121,144,155,165,158,140,142,109,0,0,50,80,10,4,10,4,6,9,10,6,10,9,1,9,9,6,6,264,0,0,154,2689,2176,148,8.2
7994,2015,Nordeste,Ceará,Sertões Cearenses,Sertão de Senador Pompeu,Deputado Irapuan Pinheiro,2304269,20,10,327,611,622,391,132,112,116,130,121,144,155,165,158,140,142,109,0,0,50,80,10,4,10,4,6,9,10,6,10,9,1,9,9,6,6,264,0,0,154,2689,2176,148,8.2
6056,2015,Norte,Amazonas,Centro Amazonense,Coari,Beruri,1300631,88,79,531,3453,2104,1252,488,625,856,758,743,715,518,449,422,537,437,278,0,0,170,206,10,2,4,2,1,2,10,0,2,4,2,3,11,8,10,956,0,0,462,8124,8087,396,8.2

In [22]:
df_result_ini_2017.sort_values(by=['ideb'], ascending=False).head(8)

,ano_censo,regiao,unidade_federativa,mesoregiao,microregiao,municipio,cod_municipio,num_escolas,num_escolas_em_atividade,num_estudantes_ensino_infantil,num_estudantes_ensino_fund_anos_iniciais,num_estudantes_ensino_fund_anos_finais,num_estudantes_ensino_medio_propedeutico,num_estudantes_fund_1_ano,num_estudantes_fund_2_ano,num_estudantes_fund_3_ano,num_estudantes_fund_4_ano,num_estudantes_fund_5_ano,num_estudantes_fund_6_ano,num_estudantes_fund_7_ano,num_estudantes_fund_8_ano,num_estudantes_fund_9_ano,num_estudantes_medio_1_serie,num_estudantes_medio_2_serie,num_estudantes_medio_3_serie,num_estudantes_medio_4_serie,num_estudantes_medio_nao_seriada,num_salas_existentes,num_salas_utilizadas,num_equip_tv,num_equip_videocassete,num_equip_dvd,num_equip_parabolica,num_equip_copiadora,num_equip_retroprojetor,num_equip_impressora,num_equip_impressora_mult,num_equip_som,num_equip_multimidia,num_equip_fax,num_equip_foto,num_computador,num_comp_administrativo,num_comp_aluno,num_funcionarios,num_escolas_rurais,num_escolas_urbanas,num_professores,num_matriculas,num_estudantes,num_turmas,ideb
6964,2017,Nordeste,Ceará,Noroeste Cearense,Sobral,Sobral,2312908,267,108,11329,14463,12637,10393,2855,2824,2814,3104,2866,3336,3095,3337,2869,3230,3078,2954,0,0,1558,1405,249,17,164,41,128,93,244,89,233,320,21,88,2229,656,1528,6406,0,0,2526,65080,57805,2669,9.1
6965,2017,Nordeste,Ceará,Noroeste Cearense,Sobral,Sobral,2312908,267,108,11329,14463,12637,10393,2855,2824,2814,3104,2866,3336,3095,3337,2869,3230,3078,2954,0,0,1558,1405,249,17,164,41,128,93,244,89,233,320,21,88,2229,656,1528,6406,0,0,2526,65080,57805,2669,9.1
5374,2017,Sul,Paraná,Oeste Paranaense,Foz do Iguaçu,Serranópolis do Iguaçu,4126355,6,4,201,312,279,108,65,58,50,66,73,66,70,61,82,46,25,37,0,0,43,39,22,0,6,3,3,2,12,3,35,23,1,10,98,37,61,147,0,0,75,1156,904,73,8.7
5375,2017,Sul,Paraná,Oeste Paranaense,Foz do Iguaçu,Serranópolis do Iguaçu,4126355,6,4,201,312,279,108,65,58,50,66,73,66,70,61,82,46,25,37,0,0,43,39,22,0,6,3,3,2,12,3,35,23,1,10,98,37,61,147,0,0,75,1156,904,73,8.7
7984,2017,Nordeste,Ceará,Sertões Cearenses,Sertão de Senador Pompeu,Deputado Irapuan Pinheiro,2304269,20,10,305,601,536,406,118,128,128,116,111,139,126,125,146,163,129,114,0,0,52,66,22,2,17,4,5,9,10,17,25,16,0,16,101,26,78,259,0,0,154,2521,2020,141,8.6
7985,2017,Nordeste,Ceará,Sertões Cearenses,Sertão de Senador Pompeu,Deputado Irapuan Pinheiro,2304269,20,10,305,601,536,406,118,128,128,116,111,139,126,125,146,163,129,114,0,0,52,66,22,2,17,4,5,9,10,17,25,16,0,16,101,26,78,259,0,0,154,2521,2020,141,8.6
2516,2017,Nordeste,Alagoas,Leste Alagoano,São Miguel dos Campos,Coruripe,2702306,48,30,3618,4907,3930,2594,950,910,975,1068,1004,1152,1011,998,769,1104,738,558,0,0,382,371,45,8,37,14,21,15,51,15,42,44,3,16,373,84,264,1670,0,0,916,19159,17306,787,8.5
9834,2017,Sudeste,Minas Gerais,Sul/Sudoeste de Minas,Passos,São José da Barra,3162948,19,7,190,516,376,249,104,94,96,135,87,80,116,97,83,89,96,64,0,0,70,53,11,5,10,3,11,6,20,1,8,8,5,7,130,27,103,247,0,0,98,1502,1427,74,8.5

In [23]:
df_result_fin_2015.sort_values(by=['ideb'], ascending=False).head(8)

,ano_censo,regiao,unidade_federativa,mesoregiao,microregiao,municipio,cod_municipio,num_escolas,num_escolas_em_atividade,num_estudantes_ensino_infantil,num_estudantes_ensino_fund_anos_iniciais,num_estudantes_ensino_fund_anos_finais,num_estudantes_ensino_medio_propedeutico,num_estudantes_fund_1_ano,num_estudantes_fund_2_ano,num_estudantes_fund_3_ano,num_estudantes_fund_4_ano,num_estudantes_fund_5_ano,num_estudantes_fund_6_ano,num_estudantes_fund_7_ano,num_estudantes_fund_8_ano,num_estudantes_fund_9_ano,num_estudantes_medio_1_serie,num_estudantes_medio_2_serie,num_estudantes_medio_3_serie,num_estudantes_medio_4_serie,num_estudantes_medio_nao_seriada,num_salas_existentes,num_salas_utilizadas,num_equip_tv,num_equip_videocassete,num_equip_dvd,num_equip_parabolica,num_equip_copiadora,num_equip_retroprojetor,num_equip_impressora,num_equip_impressora_mult,num_equip_som,num_equip_multimidia,num_equip_fax,num_equip_foto,num_computador,num_comp_administrativo,num_comp_aluno,num_funcionarios,num_escolas_rurais,num_escolas_urbanas,num_professores,num_matriculas,num_estudantes,num_turmas,ideb
12173,2015,Sul,Paraná,Metropolitana de Curitiba,Curitiba,Curitiba,4106902,1263,1056,68183,122641,101865,69385,25908,24464,25676,23257,23336,26676,25303,25527,24359,26609,22965,19789,22,0,14351,13009,1010,372,965,246,621,566,956,288,972,810,662,896,1053,943,779,56953,0,0,26112,452313,418811,19654,7.7
12266,2015,Nordeste,Bahia,Metropolitana de Salvador,Salvador,Salvador,2927408,1393,1325,53919,133544,137285,88070,23002,23953,31438,26243,28909,40361,35280,31451,30199,35594,27750,24726,0,0,14726,13235,1242,316,1153,283,893,554,1127,535,1153,678,459,771,1289,1068,760,60593,0,0,22754,568214,509094,23659,7.5
11560,2015,Nordeste,Pernambuco,Metropolitana de Recife,Recife,Recife,2611606,1598,1035,47858,96423,88839,63284,17991,18510,20969,19756,19197,23196,22720,22170,20753,24138,20887,18011,0,248,12063,11441,939,163,848,126,718,335,838,240,875,611,208,674,987,720,720,44928,0,0,16302,383907,360694,16867,7.4
13518,2015,Sul,Rio Grande do Sul,Centro Ocidental Rio-grandense,Santa Maria,Santa Maria,4316907,206,177,8636,17257,13147,9097,3160,3027,3583,3708,3779,4137,3691,3141,2178,4070,2785,2242,0,0,1987,1764,175,77,166,33,121,96,157,94,169,149,44,155,173,158,133,7445,0,0,3522,63230,57656,3498,7.3
12662,2015,Nordeste,Ceará,Metropolitana de Fortaleza,Fortaleza,Fortaleza,2304400,2203,1303,94366,174663,140855,92075,33553,33169,36229,35701,36012,39002,35542,34344,31980,35621,29931,26506,0,17,18238,17956,1223,267,1122,169,1048,511,1097,533,1146,878,475,982,1285,1067,853,60305,0,0,24751,635194,577153,27969,7.2
4723,2015,Centro-Oeste,Distrito Federal,Distrito Federal,Brasília,Brasília,5300108,1386,1200,89765,209710,181902,109394,41162,39126,44624,41381,43430,51577,46533,42800,41010,44673,35770,28951,0,14,20351,18754,1151,610,1111,469,1057,794,1122,442,1109,981,538,849,1191,928,835,82921,0,0,35239,747036,664926,34039,7.2
14188,2015,Centro-Oeste,Mato Grosso do Sul,Centro Norte de Mato Grosso do Sul,Campo Grande,Campo Grande,5002704,557,461,36175,64280,54080,31021,12615,14740,12172,11558,13195,14234,14044,14165,11637,12177,10586,8258,0,0,5876,5419,448,167,428,106,297,238,408,187,423,328,189,352,457,393,279,27820,0,0,12180,236784,210908,10380,7.1
14203,2015,Sudeste,Minas Gerais,Triângulo Mineiro/Alto Paranaíba,Araxá,Nova Ponte,3145000,17,9,556,1112,998,490,224,229,244,228,187,205,222,295,276,221,141,128,0,0,107,89,9,2,9,5,7,3,9,5,8,8,1,7,9,9,4,369,0,0,176,3362,3245,146,7

In [24]:
df_result_fin_2017.sort_values(by=['ideb'], ascending=False).head(8)

,ano_censo,regiao,unidade_federativa,mesoregiao,microregiao,municipio,cod_municipio,num_escolas,num_escolas_em_atividade,num_estudantes_ensino_infantil,num_estudantes_ensino_fund_anos_iniciais,num_estudantes_ensino_fund_anos_finais,num_estudantes_ensino_medio_propedeutico,num_estudantes_fund_1_ano,num_estudantes_fund_2_ano,num_estudantes_fund_3_ano,num_estudantes_fund_4_ano,num_estudantes_fund_5_ano,num_estudantes_fund_6_ano,num_estudantes_fund_7_ano,num_estudantes_fund_8_ano,num_estudantes_fund_9_ano,num_estudantes_medio_1_serie,num_estudantes_medio_2_serie,num_estudantes_medio_3_serie,num_estudantes_medio_4_serie,num_estudantes_medio_nao_seriada,num_salas_existentes,num_salas_utilizadas,num_equip_tv,num_equip_videocassete,num_equip_dvd,num_equip_parabolica,num_equip_copiadora,num_equip_retroprojetor,num_equip_impressora,num_equip_impressora_mult,num_equip_som,num_equip_multimidia,num_equip_fax,num_equip_foto,num_computador,num_comp_administrativo,num_comp_aluno,num_funcionarios,num_escolas_rurais,num_escolas_urbanas,num_professores,num_matriculas,num_estudantes,num_turmas,ideb
12260,2017,Nordeste,Bahia,Metropolitana de Salvador,Salvador,Salvador,2927408,1647,1467,65574,143295,137358,93990,25582,26874,32303,28607,29930,40255,36419,31256,29428,34530,27711,23873,0,47,16150,14419,6078,474,2903,299,1610,1067,3228,1813,3768,2629,518,1266,20834,8402,10814,63696,0,0,24080,569539,527040,25074,7.9
11554,2017,Nordeste,Pernambuco,Metropolitana de Recife,Recife,Recife,2611606,1809,1040,50084,100653,84755,66491,19629,19484,21152,20506,19882,21935,21210,20590,21020,21842,19486,17419,0,3529,11544,10593,2428,155,1564,127,954,478,1610,1042,2452,2812,169,923,14358,4742,9162,42564,0,0,16020,396117,362491,17309,7.8
12172,2017,Sul,Paraná,Metropolitana de Curitiba,Curitiba,Curitiba,4106902,1313,1061,69812,121709,98832,75565,25213,23778,25390,23580,23748,25403,25012,24815,23602,24513,21008,20913,23,26,14463,12907,7112,360,2346,211,963,724,3158,914,5255,3317,553,1701,27380,8329,16386,56576,0,0,24826,448652,426815,18414,7.7
13889,2017,Sudeste,Minas Gerais,Metropolitana de Belo Horizonte,Belo Horizonte,Belo Horizonte,3106200,2199,1346,95877,153486,122776,98551,29832,29589,31296,32871,29898,30999,30118,30747,30912,40151,29753,23846,0,0,16832,15027,3314,520,2222,345,1577,824,2869,1182,3525,2870,751,1494,26802,10085,15746,64506,0,0,31029,589099,525681,26294,7.7
5094,2017,Norte,Roraima,Norte de Roraima,Boa Vista,Boa Vista,1400100,287,238,14811,30483,23921,15249,5835,5631,5910,4901,8206,6233,5924,5869,5895,5621,4202,3782,0,0,2623,2353,687,30,403,21,192,65,531,296,416,430,35,174,3763,1184,2540,12930,0,0,4209,98146,94419,4231,7.5
13544,2017,Sul,Rio Grande do Sul,Centro Ocidental Rio-grandense,Santa Maria,Santa Maria,4316907,208,174,9999,17018,13966,8243,3223,3207,3658,3432,3498,4053,3715,3384,2814,3364,2047,2202,0,0,1961,1803,641,66,387,31,169,98,500,301,646,544,33,270,4783,1358,3388,7499,0,0,3600,63575,57232,3690,7.5
14177,2017,Centro-Oeste,Mato Grosso do Sul,Centro Norte de Mato Grosso do Sul,Campo Grande,Campo Grande,5002704,580,462,39152,65754,51277,33491,12560,13973,13439,14096,11686,12320,13715,12829,12413,14366,9545,7077,0,554,5772,5332,1517,147,976,103,573,274,1050,629,1440,1242,136,545,10011,2850,6700,27203,0,0,12538,234241,208850,10716,7.4
4723,2017,Centro-Oeste,Distrito Federal,Distrito Federal,Brasília,Brasília,5300108,1450,1225,97217,206756,174632,109143,40282,39389,45488,40274,41324,47415,45526,41983,39716,43515,34410,29371,0,0,22483,18976,5299,649,3394,453,1855,1234,3877,1729,4573,4433,488,1267,33009,10465,20507,82856,0,0,34892,733800,658816,34176,7.3

## Limpeza do Ideb

In [25]:
df_result_ini_2015.drop(df_result_ini_2015[df_result_ini_2015.ideb == '-'].index, inplace=True)
df_result_ini_2017.drop(df_result_ini_2017[df_result_ini_2017.ideb == '-'].index, inplace=True)
df_result_fin_2015.drop(df_result_fin_2015[df_result_fin_2015.ideb == '-'].index, inplace=True)
df_result_fin_2017.drop(df_result_fin_2017[df_result_fin_2017.ideb == '-'].index, inplace=True)

In [26]:
df_result_ini_2015['ideb'] = pd.to_numeric(df_result_ini_2015['ideb'])
df_result_ini_2017['ideb'] = pd.to_numeric(df_result_ini_2017['ideb'])

df_result_fin_2015['ideb'] = pd.to_numeric(df_result_fin_2015['ideb'])
df_result_fin_2017['ideb'] = pd.to_numeric(df_result_fin_2017['ideb'])

In [27]:
print(df_result_ini_2015.shape)
print(df_result_fin_2015.shape)
print(df_result_ini_2017.shape)
print(df_result_fin_2017.shape)

(12048, 52)
(12158, 52)
(12508, 52)
(12751, 52)

# Correlação linear entre todas as variáveis numéricas com o Ideb

In [28]:
def calculate_pearson(df):
    correlations = {}
    numerical_features = df.select_dtypes(exclude = ["object"]).columns
    numerical_features = numerical_features.drop("cod_municipio")
    for i in numerical_features:
        corr = stats.pearsonr(df[i], df['ideb'])[0]
        correlations[i] = corr
    df_corr = pd.DataFrame(list(correlations.items()), columns=['feature', 'correlation_with_ideb'])        
    df_corr = df_corr.dropna()
    
    return df_corr

In [29]:
df_corr_ini_2015 = calculate_pearson(df_result_ini_2015)
df_corr_ini_2017 = calculate_pearson(df_result_ini_2017)

df_corr_fin_2015 = calculate_pearson(df_result_fin_2015)
df_corr_fin_2017 = calculate_pearson(df_result_fin_2017)

/home/alexandre_silva/.virtualenvs/E-xray-lPsyvFV7/lib/python3.5/site-packages/scipy/stats/stats.py:3010: RuntimeWarning: invalid value encountered in double_scalars
  r = r_num / r_den

In [30]:
df_corr_ini_2015.sort_values(by=['correlation_with_ideb'], ascending=False)

                                     feature  correlation_with_ideb
33                                      ideb               1.000000
3                     num_equip_videocassete               0.049761
10                             num_equip_fax               0.049432
38                 num_equip_impressora_mult               0.048862
19                   num_equip_retroprojetor               0.047042
18                            num_equip_foto               0.042021
24                   num_comp_administrativo               0.040160
16                      num_equip_multimidia               0.039532
21                      num_equip_parabolica               0.039040
39                            num_comp_aluno               0.038141
14            num_estudantes_ensino_infantil               0.036071
4               num_estudantes_medio_3_serie               0.034474
42              num_estudantes_medio_2_serie               0.033280
32                       num_equip_copiadora               0.032512
34                             num_equip_som               0.031863
25  num_estudantes_ensino_medio_propedeutico               0.031815
1                       num_salas_existentes               0.031312
5                            num_professores               0.031203
43                      num_salas_utilizadas               0.030932
9                           num_funcionarios               0.030136
22                      num_equip_impressora               0.029948
12                 num_estudantes_fund_9_ano               0.029919
15              num_estudantes_medio_1_serie               0.029034
2                             num_computador               0.026825
26                 num_estudantes_fund_8_ano               0.026225
36                            num_estudantes               0.023313
30                             num_equip_dvd               0.023169
13                                num_turmas               0.022823
28                 num_estudantes_fund_2_ano               0.022479
23                 num_estudantes_fund_1_ano               0.022232
37    num_estudantes_ensino_fund_anos_finais               0.021479
20                              num_equip_tv               0.021455
11                            num_matriculas               0.021332
35                 num_estudantes_fund_7_ano               0.017068
27  num_estudantes_ensino_fund_anos_iniciais               0.015692
29                 num_estudantes_fund_3_ano               0.012040
6                  num_estudantes_fund_5_ano               0.011385
8                  num_estudantes_fund_6_ano               0.011223
40                 num_estudantes_fund_4_ano               0.010597
44          num_estudantes_medio_nao_seriada              -0.002350
41                  num_escolas_em_atividade              -0.007378
31              num_estudantes_medio_4_serie              -0.008793
45                               num_escolas              -0.011799

In [31]:
df_corr_ini_2017.sort_values(by=['correlation_with_ideb'], ascending=False)

                                     feature  correlation_with_ideb
33                                      ideb               1.000000
39                            num_comp_aluno               0.055455
34                             num_equip_som               0.054287
2                             num_computador               0.052223
24                   num_comp_administrativo               0.050169
38                 num_equip_impressora_mult               0.049948
3                     num_equip_videocassete               0.048823
22                      num_equip_impressora               0.048606
19                   num_equip_retroprojetor               0.046856
16                      num_equip_multimidia               0.046426
20                              num_equip_tv               0.045649
30                             num_equip_dvd               0.045494
10                             num_equip_fax               0.045256
18                            num_equip_foto               0.044231
21                      num_equip_parabolica               0.041143
32                       num_equip_copiadora               0.037092
14            num_estudantes_ensino_infantil               0.035981
4               num_estudantes_medio_3_serie               0.034376
42              num_estudantes_medio_2_serie               0.033271
12                 num_estudantes_fund_9_ano               0.032726
5                            num_professores               0.032524
25  num_estudantes_ensino_medio_propedeutico               0.032346
1                       num_salas_existentes               0.032105
43                      num_salas_utilizadas               0.031459
9                           num_funcionarios               0.030486
15              num_estudantes_medio_1_serie               0.029982
26                 num_estudantes_fund_8_ano               0.027263
36                            num_estudantes               0.025054
13                                num_turmas               0.024761
11                            num_matriculas               0.024283
23                 num_estudantes_fund_1_ano               0.024282
28                 num_estudantes_fund_2_ano               0.023272
37    num_estudantes_ensino_fund_anos_finais               0.022111
27  num_estudantes_ensino_fund_anos_iniciais               0.018917
35                 num_estudantes_fund_7_ano               0.018888
40                 num_estudantes_fund_4_ano               0.017115
6                  num_estudantes_fund_5_ano               0.015559
29                 num_estudantes_fund_3_ano               0.014613
8                  num_estudantes_fund_6_ano               0.012618
31              num_estudantes_medio_4_serie              -0.003151
41                  num_escolas_em_atividade              -0.006031
45                               num_escolas              -0.012938
44          num_estudantes_medio_nao_seriada              -0.025696

In [32]:
df_corr_fin_2015.sort_values(by=['correlation_with_ideb'], ascending=False)

                                     feature  correlation_with_ideb
33                                      ideb               1.000000
3                     num_equip_videocassete               0.045180
10                             num_equip_fax               0.044322
19                   num_equip_retroprojetor               0.043963
38                 num_equip_impressora_mult               0.042863
16                      num_equip_multimidia               0.039565
18                            num_equip_foto               0.039189
24                   num_comp_administrativo               0.038654
39                            num_comp_aluno               0.038337
21                      num_equip_parabolica               0.037535
4               num_estudantes_medio_3_serie               0.037510
42              num_estudantes_medio_2_serie               0.035202
14            num_estudantes_ensino_infantil               0.034410
32                       num_equip_copiadora               0.033313
25  num_estudantes_ensino_medio_propedeutico               0.033276
5                            num_professores               0.032698
9                           num_funcionarios               0.032396
1                       num_salas_existentes               0.032394
43                      num_salas_utilizadas               0.032043
12                 num_estudantes_fund_9_ano               0.030437
15              num_estudantes_medio_1_serie               0.029067
22                      num_equip_impressora               0.028760
34                             num_equip_som               0.028101
26                 num_estudantes_fund_8_ano               0.027877
2                             num_computador               0.026343
36                            num_estudantes               0.025464
13                                num_turmas               0.024910
28                 num_estudantes_fund_2_ano               0.024689
37    num_estudantes_ensino_fund_anos_finais               0.024563
35                 num_estudantes_fund_7_ano               0.024472
23                 num_estudantes_fund_1_ano               0.024220
11                            num_matriculas               0.023918
30                             num_equip_dvd               0.020966
20                              num_equip_tv               0.020081
27  num_estudantes_ensino_fund_anos_iniciais               0.018818
29                 num_estudantes_fund_3_ano               0.015616
6                  num_estudantes_fund_5_ano               0.015344
8                  num_estudantes_fund_6_ano               0.015072
40                 num_estudantes_fund_4_ano               0.014503
44          num_estudantes_medio_nao_seriada              -0.000317
41                  num_escolas_em_atividade              -0.004632
31              num_estudantes_medio_4_serie              -0.005368
45                               num_escolas              -0.008284

In [33]:
df_corr_fin_2017.sort_values(by=['correlation_with_ideb'], ascending=False)

                                     feature  correlation_with_ideb
33                                      ideb               1.000000
39                            num_comp_aluno               0.057646
2                             num_computador               0.055212
24                   num_comp_administrativo               0.053037
16                      num_equip_multimidia               0.051178
34                             num_equip_som               0.051044
22                      num_equip_impressora               0.046795
38                 num_equip_impressora_mult               0.046350
20                              num_equip_tv               0.046307
30                             num_equip_dvd               0.044513
19                   num_equip_retroprojetor               0.044168
3                     num_equip_videocassete               0.043131
10                             num_equip_fax               0.040613
18                            num_equip_foto               0.039969
32                       num_equip_copiadora               0.039064
12                 num_estudantes_fund_9_ano               0.038909
1                       num_salas_existentes               0.034432
5                            num_professores               0.034208
4               num_estudantes_medio_3_serie               0.033843
21                      num_equip_parabolica               0.033701
14            num_estudantes_ensino_infantil               0.033380
43                      num_salas_utilizadas               0.033052
42              num_estudantes_medio_2_serie               0.032662
25  num_estudantes_ensino_medio_propedeutico               0.032411
9                           num_funcionarios               0.032330
26                 num_estudantes_fund_8_ano               0.031252
15              num_estudantes_medio_1_serie               0.029532
23                 num_estudantes_fund_1_ano               0.027553
13                                num_turmas               0.027365
36                            num_estudantes               0.027275
28                 num_estudantes_fund_2_ano               0.027237
11                            num_matriculas               0.027037
37    num_estudantes_ensino_fund_anos_finais               0.026730
27  num_estudantes_ensino_fund_anos_iniciais               0.023087
35                 num_estudantes_fund_7_ano               0.022925
40                 num_estudantes_fund_4_ano               0.020820
6                  num_estudantes_fund_5_ano               0.020189
29                 num_estudantes_fund_3_ano               0.019838
8                  num_estudantes_fund_6_ano               0.016979
44          num_estudantes_medio_nao_seriada               0.009685
31              num_estudantes_medio_4_serie               0.008310
41                  num_escolas_em_atividade              -0.002991
45                               num_escolas              -0.010671

## Separa anos iniciais de anos finais

In [34]:
df_result_ini_2015.filter(like='medio').columns

Index(['num_estudantes_ensino_medio_propedeutico',
       'num_estudantes_medio_1_serie', 'num_estudantes_medio_2_serie',
       'num_estudantes_medio_3_serie', 'num_estudantes_medio_4_serie',
       'num_estudantes_medio_nao_seriada'],
      dtype='object')

In [35]:
df_result_ini_2015 = df_result_ini_2015.drop(df_result_ini_2015.filter(like='medio').columns, axis=1)
df_result_ini_2017 = df_result_ini_2017.drop(df_result_ini_2017.filter(like='medio').columns, axis=1)

In [36]:
df_result_fin_2015.filter(like='fund').columns

Index(['num_estudantes_ensino_fund_anos_iniciais',
       'num_estudantes_ensino_fund_anos_finais', 'num_estudantes_fund_1_ano',
       'num_estudantes_fund_2_ano', 'num_estudantes_fund_3_ano',
       'num_estudantes_fund_4_ano', 'num_estudantes_fund_5_ano',
       'num_estudantes_fund_6_ano', 'num_estudantes_fund_7_ano',
       'num_estudantes_fund_8_ano', 'num_estudantes_fund_9_ano'],
      dtype='object')

In [37]:
df_result_fin_2015 = df_result_fin_2015.drop(df_result_fin_2015.filter(like='fund').columns, axis=1)
df_result_fin_2017 = df_result_fin_2017.drop(df_result_fin_2017.filter(like='fund').columns, axis=1)

df_result_fin_2015 = df_result_fin_2015.drop(['num_estudantes_ensino_infantil'], axis=1)
df_result_fin_2017 = df_result_fin_2017.drop(['num_estudantes_ensino_infantil'], axis=1)

In [38]:
print(df_result_ini_2015.shape)
print(df_result_ini_2017.shape)
print(df_result_fin_2015.shape)
print(df_result_fin_2017.shape)

(12048, 46)
(12508, 46)
(12158, 40)
(12751, 40)

## Salvar

In [39]:
df_result_ini_2015.to_csv('../../data/bases_ale/ideb_municipios_2015_ai.csv')
df_result_ini_2017.to_csv('../../data/bases_ale/ideb_municipios_2017_ai.csv')
df_result_fin_2015.to_csv('../../data/bases_ale/ideb_municipios_2015_af.csv')
df_result_fin_2017.to_csv('../../data/bases_ale/ideb_municipios_2017_af.csv')