# Libraries

In [17]:
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import numpy as np
from scipy import stats

In [18]:
pd.set_option('display.max_rows', 500)
pd.set_option('display.max_columns', 500)

# Dataset

In [19]:
df_municipios_2015 = pd.read_csv('../../data/bcggammachallenge/municipios/municipios20150101.csv')
df_municipios_2016 = pd.read_csv('../../data/bcggammachallenge/municipios/municipios20160101.csv')
df_municipios_2017 = pd.read_csv('../../data/bcggammachallenge/municipios/municipios20170101.csv')

In [20]:
df = pd.concat([df_municipios_2015, df_municipios_2016, df_municipios_2017])

In [21]:
df.head()

,ano_censo,regiao,unidade_federativa,mesoregiao,microregiao,municipio,cod_municipio,num_escolas,num_escolas_em_atividade,num_estudantes_ensino_infantil,num_estudantes_ensino_fund_anos_iniciais,num_estudantes_ensino_fund_anos_finais,num_estudantes_ensino_medio_propedeutico,num_estudantes_fund_1_ano,num_estudantes_fund_2_ano,num_estudantes_fund_3_ano,num_estudantes_fund_4_ano,num_estudantes_fund_5_ano,num_estudantes_fund_6_ano,num_estudantes_fund_7_ano,num_estudantes_fund_8_ano,num_estudantes_fund_9_ano,num_estudantes_medio_1_serie,num_estudantes_medio_2_serie,num_estudantes_medio_3_serie,num_estudantes_medio_4_serie,num_estudantes_medio_nao_seriada,num_salas_existentes,num_salas_utilizadas,num_equip_tv,num_equip_videocassete,num_equip_dvd,num_equip_parabolica,num_equip_copiadora,num_equip_retroprojetor,num_equip_impressora,num_equip_impressora_mult,num_equip_som,num_equip_multimidia,num_equip_fax,num_equip_foto,num_computador,num_comp_administrativo,num_comp_aluno,num_funcionarios,num_escolas_rurais,num_escolas_urbanas,num_professores,num_matriculas,num_estudantes,num_turmas
0,2015,Sudeste,São Paulo,Assis,Assis,Nantes,3532157,3,3,167,168,170,141,37,32,34,19,46,31,45,58,36,43,53,45,0,0,19,19,3,1,2,1,2,1,3,2,2,1,0,2,3,3,1,89,0,0,44,782,676,45
1,2015,Sudeste,São Paulo,Assis,Assis,Tarumã,3553955,10,10,971,1053,852,483,210,209,218,225,191,211,216,208,217,187,171,125,0,0,117,117,9,0,9,3,6,2,9,8,9,8,2,8,10,10,8,458,0,0,257,3880,3473,181
2,2015,Sudeste,São Paulo,Assis,Assis,Cruzália,3513306,5,3,103,105,93,84,33,18,23,21,10,21,17,26,29,29,30,25,0,0,18,18,3,1,3,1,2,1,2,1,3,2,1,2,3,3,1,54,0,0,44,590,405,37
3,2015,Sudeste,São Paulo,Assis,Assis,Campos Novos Paulista,3509809,3,3,202,334,312,167,62,59,90,63,60,96,64,78,74,69,55,43,0,0,26,26,3,0,3,0,3,2,3,2,2,2,2,2,3,3,3,133,0,0,77,1131,1015,61
4,2015,Sudeste,São Paulo,Assis,Assis,Assis,3504008,75,70,5052,6126,5002,3323,1256,1306,1237,1194,1133,1430,1053,1198,1321,1216,1087,1020,0,0,842,897,67,28,59,14,22,42,67,49,67,56,29,62,68,66,53,3288,0,0,1417,25237,22096,1134

In [22]:
df_ideb_ini = pd.read_csv('../../data/bcggammachallenge/ideb/ideb_municipios_anosiniciais2005_2017.csv',sep = ',',encoding='latin-1')

In [23]:
df_ideb_ini.columns

Index(['Co_UF', 'Cod_Municipio_Completo', 'Nome_Municipio', 'Rede',
       'TaxaAprovacao2005_1ao5ano', 'TaxaAprovacao2005_1ano',
       'TaxaAprovacao2005_2ano', 'TaxaAprovacao2005_3ano',
       'TaxaAprovacao2005_4ano', 'TaxaAprovacao2005_5ano',
       'IndicadorRendimento_2005', 'TaxaAprovacao2007_1ao5ano',
       'TaxaAprovacao2007_1ano', 'TaxaAprovacao2007_2ano',
       'TaxaAprovacao2007_3ano', 'TaxaAprovacao2007_4ano',
       'TaxaAprovacao2007_5ano', 'IndicadorRendimento_2007',
       'TaxaAprovacao2009_1ao5ano', 'TaxaAprovacao2009_1ano',
       'TaxaAprovacao2009_2ano', 'TaxaAprovacao2009_3ano',
       'TaxaAprovacao2009_4ano', 'TaxaAprovacao2009_5ano',
       'IndicadorRendimento_2009', 'TaxaAprovacao2011_1ao5ano',
       'TaxaAprovacao2011_1ano', 'TaxaAprovacao2011_2ano',
       'TaxaAprovacao2011_3ano', 'TaxaAprovacao2011_4ano',
       'TaxaAprovacao2011_5ano', 'IndicadorRendimento_2011',
       'TaxaAprovacao2013_1ao5ano', 'TaxaAprovacao2013_1ano',
       'TaxaAprovacao2013_2ano', 'TaxaAprovacao2013_3ano',
       'TaxaAprovacao2013_4ano', 'TaxaAprovacao2013_5ano',
       'IndicadorRendimento_2013', 'TaxaAprovacao2015_1ao5ano',
       'TaxaAprovacao2015_1ano', 'TaxaAprovacao2015_2ano',
       'TaxaAprovacao2015_3ano', 'TaxaAprovacao2015_4ano',
       'TaxaAprovacao2015_5ano', 'IndicadorRendimento_2015',
       'TaxaAprovacao2017_1ao5ano', 'TaxaAprovacao2017_1ano',
       'TaxaAprovacao2017_2ano', 'TaxaAprovacao2017_3ano',
       'TaxaAprovacao2017_4ano', 'TaxaAprovacao2017_5ano',
       'IndicadorRendimento_2017', 'NotaProvaBrasil_MT_2005',
       'NotaProvaBrasil_LP_2005', 'NotaProvaBrasil_NotaMedia_2005',
       'NotaProvaBrasil_MT_2007', 'NotaProvaBrasil_LP_2007',
       'NotaProvaBrasil_NotaMedia_2007', 'NotaProvaBrasil_MT_2009',
       'NotaProvaBrasil_LP_2009', 'NotaProvaBrasil_NotaMedia_2009',
       'NotaProvaBrasil_MT_2011', 'NotaProvaBrasil_LP_2011',
       'NotaProvaBrasil_NotaMedia_2011', 'NotaProvaBrasil_MT_2013',
       'NotaProvaBrasil_LP_2013', 'NotaProvaBrasil_NotaMedia_2013',
       'NotaProvaBrasil_MT_2015', 'NotaProvaBrasil_LP_2015',
       'NotaProvaBrasil_NotaMedia_2015', 'NotaProvaBrasil_MT_2017',
       'NotaProvaBrasil_LP_2017', 'NotaProvaBrasil_NotaMedia_2017', 'Ideb2005',
       'Ideb2007', 'Ideb2009', 'Ideb2011', 'Ideb2013', 'Ideb2015', 'Ideb2017',
       'ProjecaoIdeb2007', 'ProjecaoIdeb2009', 'ProjecaoIdeb2011',
       'ProjecaoIdeb2013', 'ProjecaoIdeb2015', 'ProjecaoIdeb2017',
       'ProjecaoIdeb2019', 'ProjecaoIdeb2021'],
      dtype='object')

In [24]:
df_ideb_ini[['Cod_Municipio_Completo', 'Ideb2017']].head()

   Cod_Municipio_Completo Ideb2017
0               1100015.0      6.2
1               1100015.0      5.1
2               1100015.0      6.2
3               1100023.0        6
4               1100023.0      5.4

In [25]:
df_ideb_ini = df_ideb_ini.rename(columns={'Cod_Municipio_Completo': 'cod_municipio'})

df_ideb_ini_2015 = df_ideb_ini.copy()
df_ideb_ini_2017 = df_ideb_ini.copy()

In [26]:
df_ideb_ini_2015 = df_ideb_ini_2015[['cod_municipio', 'Ideb2015']]
df_ideb_ini_2017 = df_ideb_ini_2017[['cod_municipio', 'Ideb2017']]

In [27]:
df_ideb_ini_2015.head()

   cod_municipio Ideb2015
0      1100015.0      5.8
1      1100015.0        5
2      1100015.0      5.8
3      1100023.0      5.6
4      1100023.0        5

In [28]:
df_ideb_ini_2017.head()

   cod_municipio Ideb2017
0      1100015.0      6.2
1      1100015.0      5.1
2      1100015.0      6.2
3      1100023.0        6
4      1100023.0      5.4

In [32]:
df_ideb_ini_2015['cod_municipio'] = df_ideb_ini_2015.cod_municipio.astype(float)
df_ideb_ini_2017['cod_municipio'] = df_ideb_ini_2017.cod_municipio.astype(float)

In [33]:
df_result_2015 = pd.merge(df_municipios_2015, df_ideb_ini_2015, how='inner', on='cod_municipio')
df_result_2017 = pd.merge(df_municipios_2017, df_ideb_ini_2017, how='inner', on='cod_municipio')

In [36]:
df_result_2015 = df_result_2015.rename(columns={'Ideb2015': 'ideb'})
df_result_2017 = df_result_2017.rename(columns={'Ideb2017': 'ideb'})

In [52]:
df_result_2015.sort_values(by=['ideb'], ascending=False).head(8)

,ano_censo,regiao,unidade_federativa,mesoregiao,microregiao,municipio,cod_municipio,num_escolas,num_escolas_em_atividade,num_estudantes_ensino_infantil,num_estudantes_ensino_fund_anos_iniciais,num_estudantes_ensino_fund_anos_finais,num_estudantes_ensino_medio_propedeutico,num_estudantes_fund_1_ano,num_estudantes_fund_2_ano,num_estudantes_fund_3_ano,num_estudantes_fund_4_ano,num_estudantes_fund_5_ano,num_estudantes_fund_6_ano,num_estudantes_fund_7_ano,num_estudantes_fund_8_ano,num_estudantes_fund_9_ano,num_estudantes_medio_1_serie,num_estudantes_medio_2_serie,num_estudantes_medio_3_serie,num_estudantes_medio_4_serie,num_estudantes_medio_nao_seriada,num_salas_existentes,num_salas_utilizadas,num_equip_tv,num_equip_videocassete,num_equip_dvd,num_equip_parabolica,num_equip_copiadora,num_equip_retroprojetor,num_equip_impressora,num_equip_impressora_mult,num_equip_som,num_equip_multimidia,num_equip_fax,num_equip_foto,num_computador,num_comp_administrativo,num_comp_aluno,num_funcionarios,num_escolas_rurais,num_escolas_urbanas,num_professores,num_matriculas,num_estudantes,num_turmas,ideb
6948,2015,Nordeste,Ceará,Noroeste Cearense,Sobral,Sobral,2312908,264,107,10236,14984,13343,10807,2803,2786,3166,3354,2875,3333,3204,3533,3273,4066,3611,3130,0,0,1489,2516,99,16,82,39,81,39,94,27,95,91,34,77,106,101,88,6366,0,0,2456,64615,59982,2620,8.8
6947,2015,Nordeste,Ceará,Noroeste Cearense,Sobral,Sobral,2312908,264,107,10236,14984,13343,10807,2803,2786,3166,3354,2875,3333,3204,3533,3273,4066,3611,3130,0,0,1489,2516,99,16,82,39,81,39,94,27,95,91,34,77,106,101,88,6366,0,0,2456,64615,59982,2620,8.8
6935,2015,Nordeste,Ceará,Noroeste Cearense,Ipu,Pires Ferreira,2310951,32,19,354,774,753,393,155,145,183,185,106,173,197,189,194,157,118,118,0,0,81,78,16,4,12,4,12,2,7,3,9,6,0,4,9,7,6,383,0,0,173,3129,2592,172,8.7
6936,2015,Nordeste,Ceará,Noroeste Cearense,Ipu,Pires Ferreira,2310951,32,19,354,774,753,393,155,145,183,185,106,173,197,189,194,157,118,118,0,0,81,78,16,4,12,4,12,2,7,3,9,6,0,4,9,7,6,383,0,0,173,3129,2592,172,8.7
2280,2015,Sudeste,Minas Gerais,Jequitinhonha,Capelinha,Aricanduva,3104452,22,7,155,426,523,238,87,88,95,75,81,121,121,165,116,107,75,56,0,0,46,44,7,3,7,2,1,1,3,0,2,1,0,1,7,3,2,162,0,0,76,1425,1374,73,8.3
7995,2015,Nordeste,Ceará,Sertões Cearenses,Sertão de Senador Pompeu,Deputado Irapuan Pinheiro,2304269,20,10,327,611,622,391,132,112,116,130,121,144,155,165,158,140,142,109,0,0,50,80,10,4,10,4,6,9,10,6,10,9,1,9,9,6,6,264,0,0,154,2689,2176,148,8.2
7994,2015,Nordeste,Ceará,Sertões Cearenses,Sertão de Senador Pompeu,Deputado Irapuan Pinheiro,2304269,20,10,327,611,622,391,132,112,116,130,121,144,155,165,158,140,142,109,0,0,50,80,10,4,10,4,6,9,10,6,10,9,1,9,9,6,6,264,0,0,154,2689,2176,148,8.2
6056,2015,Norte,Amazonas,Centro Amazonense,Coari,Beruri,1300631,88,79,531,3453,2104,1252,488,625,856,758,743,715,518,449,422,537,437,278,0,0,170,206,10,2,4,2,1,2,10,0,2,4,2,3,11,8,10,956,0,0,462,8124,8087,396,8.2

In [59]:
df_result_2017.sort_values(by=['ideb'], ascending=False).head(8)

,ano_censo,regiao,unidade_federativa,mesoregiao,microregiao,municipio,cod_municipio,num_escolas,num_escolas_em_atividade,num_estudantes_ensino_infantil,num_estudantes_ensino_fund_anos_iniciais,num_estudantes_ensino_fund_anos_finais,num_estudantes_ensino_medio_propedeutico,num_estudantes_fund_1_ano,num_estudantes_fund_2_ano,num_estudantes_fund_3_ano,num_estudantes_fund_4_ano,num_estudantes_fund_5_ano,num_estudantes_fund_6_ano,num_estudantes_fund_7_ano,num_estudantes_fund_8_ano,num_estudantes_fund_9_ano,num_estudantes_medio_1_serie,num_estudantes_medio_2_serie,num_estudantes_medio_3_serie,num_estudantes_medio_4_serie,num_estudantes_medio_nao_seriada,num_salas_existentes,num_salas_utilizadas,num_equip_tv,num_equip_videocassete,num_equip_dvd,num_equip_parabolica,num_equip_copiadora,num_equip_retroprojetor,num_equip_impressora,num_equip_impressora_mult,num_equip_som,num_equip_multimidia,num_equip_fax,num_equip_foto,num_computador,num_comp_administrativo,num_comp_aluno,num_funcionarios,num_escolas_rurais,num_escolas_urbanas,num_professores,num_matriculas,num_estudantes,num_turmas,ideb
6964,2017,Nordeste,Ceará,Noroeste Cearense,Sobral,Sobral,2312908,267,108,11329,14463,12637,10393,2855,2824,2814,3104,2866,3336,3095,3337,2869,3230,3078,2954,0,0,1558,1405,249,17,164,41,128,93,244,89,233,320,21,88,2229,656,1528,6406,0,0,2526,65080,57805,2669,9.1
6965,2017,Nordeste,Ceará,Noroeste Cearense,Sobral,Sobral,2312908,267,108,11329,14463,12637,10393,2855,2824,2814,3104,2866,3336,3095,3337,2869,3230,3078,2954,0,0,1558,1405,249,17,164,41,128,93,244,89,233,320,21,88,2229,656,1528,6406,0,0,2526,65080,57805,2669,9.1
5374,2017,Sul,Paraná,Oeste Paranaense,Foz do Iguaçu,Serranópolis do Iguaçu,4126355,6,4,201,312,279,108,65,58,50,66,73,66,70,61,82,46,25,37,0,0,43,39,22,0,6,3,3,2,12,3,35,23,1,10,98,37,61,147,0,0,75,1156,904,73,8.7
5375,2017,Sul,Paraná,Oeste Paranaense,Foz do Iguaçu,Serranópolis do Iguaçu,4126355,6,4,201,312,279,108,65,58,50,66,73,66,70,61,82,46,25,37,0,0,43,39,22,0,6,3,3,2,12,3,35,23,1,10,98,37,61,147,0,0,75,1156,904,73,8.7
7984,2017,Nordeste,Ceará,Sertões Cearenses,Sertão de Senador Pompeu,Deputado Irapuan Pinheiro,2304269,20,10,305,601,536,406,118,128,128,116,111,139,126,125,146,163,129,114,0,0,52,66,22,2,17,4,5,9,10,17,25,16,0,16,101,26,78,259,0,0,154,2521,2020,141,8.6
7985,2017,Nordeste,Ceará,Sertões Cearenses,Sertão de Senador Pompeu,Deputado Irapuan Pinheiro,2304269,20,10,305,601,536,406,118,128,128,116,111,139,126,125,146,163,129,114,0,0,52,66,22,2,17,4,5,9,10,17,25,16,0,16,101,26,78,259,0,0,154,2521,2020,141,8.6
2516,2017,Nordeste,Alagoas,Leste Alagoano,São Miguel dos Campos,Coruripe,2702306,48,30,3618,4907,3930,2594,950,910,975,1068,1004,1152,1011,998,769,1104,738,558,0,0,382,371,45,8,37,14,21,15,51,15,42,44,3,16,373,84,264,1670,0,0,916,19159,17306,787,8.5
9834,2017,Sudeste,Minas Gerais,Sul/Sudoeste de Minas,Passos,São José da Barra,3162948,19,7,190,516,376,249,104,94,96,135,87,80,116,97,83,89,96,64,0,0,70,53,11,5,10,3,11,6,20,1,8,8,5,7,130,27,103,247,0,0,98,1502,1427,74,8.5

In [57]:
print(df_result_2015[df_result_2015['ideb'] != '-']['ideb'].max())
print(df_result_2015[df_result_2015['ideb'] != '-']['ideb'].min())

8.8
1.5

In [58]:
print(df_result_2017[df_result_2017['ideb'] != '-']['ideb'].max())
print(df_result_2017[df_result_2017['ideb'] != '-']['ideb'].min())

9.1
1.8

## Correlações linear entre todas as variáveis numéricas com o Ideb

In [131]:
df_result_2015['ideb'] = df_result_2015['ideb'].replace('-',0)
df_result_2017['ideb'] = df_result_2017['ideb'].replace('-',0)

In [132]:
df_result_2015['ideb'] = pd.to_numeric(df_result_2015['ideb'])
df_result_2017['ideb'] = pd.to_numeric(df_result_2017['ideb'])

In [138]:
def calculate_pearson(df):
    correlations = {}
    numerical_features = df.select_dtypes(exclude = ["object"]).columns
    numerical_features = numerical_features.drop("cod_municipio")
    for i in numerical_features:
        corr = stats.pearsonr(df[i], df['ideb'])[0]
        correlations[i] = corr
    df_corr = pd.DataFrame(list(correlations.items()), columns=['feature', 'correlation_with_ideb'])        
    df_corr = df_corr.dropna()
    
    return df_corr

In [141]:
df_corr_2015 = calculate_pearson(df_result_2015)
df_corr_2017 = calculate_pearson(df_result_2017)

In [140]:
df_corr_2015.sort_values(by=['correlation_with_ideb'], ascending=False)

                                     feature  correlation_with_ideb
1                                       ideb               1.000000
36                            num_comp_aluno               0.042454
33                            num_computador               0.039975
5                              num_equip_som               0.038224
13                   num_comp_administrativo               0.037984
20                 num_equip_impressora_mult               0.037404
34                      num_equip_impressora               0.035807
14                   num_equip_retroprojetor               0.034152
39                            num_equip_foto               0.032840
16                      num_equip_multimidia               0.032761
44                             num_equip_dvd               0.031399
9                       num_equip_parabolica               0.031251
3                  num_estudantes_fund_9_ano               0.030890
12                              num_equip_tv               0.030580
18                    num_equip_videocassete               0.030321
2               num_estudantes_medio_2_serie               0.029097
30              num_estudantes_medio_3_serie               0.028986
22            num_estudantes_ensino_infantil               0.028749
8   num_estudantes_ensino_medio_propedeutico               0.028359
6               num_estudantes_medio_1_serie               0.027871
40                           num_professores               0.027624
19                             num_equip_fax               0.027358
17                          num_funcionarios               0.026901
7                       num_salas_existentes               0.026692
15                       num_equip_copiadora               0.026433
41                      num_salas_utilizadas               0.026431
27                 num_estudantes_fund_8_ano               0.025784
4                                 num_turmas               0.025087
24                            num_estudantes               0.024833
38                            num_matriculas               0.024480
11    num_estudantes_ensino_fund_anos_finais               0.024234
28                 num_estudantes_fund_2_ano               0.024015
43                 num_estudantes_fund_1_ano               0.023999
42                 num_estudantes_fund_4_ano               0.022573
29                 num_estudantes_fund_7_ano               0.022354
35  num_estudantes_ensino_fund_anos_iniciais               0.022256
10                 num_estudantes_fund_5_ano               0.021035
25                 num_estudantes_fund_3_ano               0.019781
32                 num_estudantes_fund_6_ano               0.019589
45                  num_escolas_em_atividade               0.007782
26                               num_escolas               0.003650
0               num_estudantes_medio_4_serie              -0.004492
31          num_estudantes_medio_nao_seriada              -0.009932

In [142]:
df_corr_2017.sort_values(by=['correlation_with_ideb'], ascending=False)

                                     feature  correlation_with_ideb
1                                       ideb               1.000000
36                            num_comp_aluno               0.042454
33                            num_computador               0.039975
5                              num_equip_som               0.038224
13                   num_comp_administrativo               0.037984
20                 num_equip_impressora_mult               0.037404
34                      num_equip_impressora               0.035807
14                   num_equip_retroprojetor               0.034152
39                            num_equip_foto               0.032840
16                      num_equip_multimidia               0.032761
44                             num_equip_dvd               0.031399
9                       num_equip_parabolica               0.031251
3                  num_estudantes_fund_9_ano               0.030890
12                              num_equip_tv               0.030580
18                    num_equip_videocassete               0.030321
2               num_estudantes_medio_2_serie               0.029097
30              num_estudantes_medio_3_serie               0.028986
22            num_estudantes_ensino_infantil               0.028749
8   num_estudantes_ensino_medio_propedeutico               0.028359
6               num_estudantes_medio_1_serie               0.027871
40                           num_professores               0.027624
19                             num_equip_fax               0.027358
17                          num_funcionarios               0.026901
7                       num_salas_existentes               0.026692
15                       num_equip_copiadora               0.026433
41                      num_salas_utilizadas               0.026431
27                 num_estudantes_fund_8_ano               0.025784
4                                 num_turmas               0.025087
24                            num_estudantes               0.024833
38                            num_matriculas               0.024480
11    num_estudantes_ensino_fund_anos_finais               0.024234
28                 num_estudantes_fund_2_ano               0.024015
43                 num_estudantes_fund_1_ano               0.023999
42                 num_estudantes_fund_4_ano               0.022573
29                 num_estudantes_fund_7_ano               0.022354
35  num_estudantes_ensino_fund_anos_iniciais               0.022256
10                 num_estudantes_fund_5_ano               0.021035
25                 num_estudantes_fund_3_ano               0.019781
32                 num_estudantes_fund_6_ano               0.019589
45                  num_escolas_em_atividade               0.007782
26                               num_escolas               0.003650
0               num_estudantes_medio_4_serie              -0.004492
31          num_estudantes_medio_nao_seriada              -0.009932